/* copied fonts from google
font-family: 'Dancing Script';
font-family: 'Fjalla One', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Overpass', sans-serif;
 */

/*---------------Donal Dempsey STUDENT ID: 23122200 styling---------------------------*/

/*Sets the backgroung color of the body in all pages*/
body{
    background-color: aliceblue;
}

/*START HEADER STYLE*/
/*Sets the backgroung color of the header*/
header{
    background-color: rgb(241, 208, 213);
}
/*Sets the text style and position of the text within the header*/
.title{
    text-align: center;
    margin-right: 1%;
}
/* knowledge used https://www.w3schools.blog/linear-gradient-on-text*/
/*Sets the size, style and position of the h1 text. */
header h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 65px;
    font-weight: 600;
    margin-right: 3%;
    /*The following code adds a liner gradient background, clips the background in the shape of the text within the h1 and makes the rest of the background transparent */
    background-image: linear-gradient(to left, #5736b1, #b393d3);
    color: transparent;
    background-clip: text;
    /*webkit allows this function to work on webkit browsers*/
    -webkit-background-clip: text;
}
/*Sets the size and style of the h2 text*/
header h2 {
    font-size: 36px;
    font-weight: 600;
    /*The following code adds a liner gradient background, clips the background in the shape of the text within the h2 and makes the rest of the background transparent */
    background-image: linear-gradient(to left, #5736b1, #b393d3);
    color: transparent;
    background-clip: text;
    /*webkit allows this function to work on webkit browsers*/
    -webkit-background-clip: text;
}
/*sets the style, size and position of the logo within the header */
#logo {
    display: inline-flex;
    float: left;
    width: 70px;
    height: 70px;
    margin-top: 1%;
    margin-left: 1%;
}
/*End OF HEADER STYLES*/

/*START OF NAV BAR STYLES*/
/*Sets the position and size of the nav bar*/
.navbar {
    margin: 0;
    padding: 0;
}
/*Removes all styling from the nav bar ul list, adds a background color and sets the width of the Nav bar*/
.bar {
    list-style-type: none;
    width: 100%;
    background-color: gray;
}
/* Google font Fjalla One with a size of 22px applied to navbar page, floats the links to the left of the page */
.links{
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    float: left;
}
/*Sets the size, style and colour of the links within the nav bar*/
.links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*Causes the text within the navbar to change to gold when moused over*/
.links :hover{
    color: gold;
}
/*Google font Fjalla One with a size of 22px applied to navbar order-form link and Floats the link within the navbar to the right*/
.infolink {
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    float: right;
}
/*Sets the size, style and colour of the order-form link within the nav bar*/
.infolink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*Causes the text of the order-form link within the navbar to change to gold on mouse over*/
.infolink :hover{
    color: gold;
}
/*Whichever page the user is on will be highlighted in a different background color as a visual cue*/
.current{
    background-color: rgb(94, 94, 193);
}
/*Google font Fjalla One with a size of 22px applied to navbar contact info link and Floats the link within the navbar to the right*/
.contactinfo{
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    float: right;
}
/*Sets the size, style and colour of the contact info link within the nav bar*/
.contactinfo a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*Causes the text of the contact info link within the navbar to change to gold on mouse over*/
.contactinfo :hover{
    color: gold;
}
/*Drop down nav bar for mobile/small devices*/
nav select {
    display: none;
    min-width: 200px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    padding: 10px 12px;
    color: white;
    background-color: gray;
}
/*Sets the display parameters for the nav bar based on screen size, hides the nav bar at 960px and displays the droip down */
@media (max-width: 960px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
}
/*END OF NAV BAR STYLES*/

/*START OF INDEX PAGE STYLING*/

/*Sets the size and position of the div and sets the position of the text within intro*/
.intro {
    text-align: center;
    width: 80%;
    margin: auto;
}
/*Sets the size of the text for #welcome*/
#welcome {
    font-size: 30px;
}
/* Google font Overpass, sans-serif with a weight of 600 applied*/
#aim{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}
/* Google font Dancing Script with a size of 26px applied to introduction, center alligned with a padding added */
#introduction{
    font-size: 26px;
    font-family: 'Dancing Script';
}
/*Adds a bold affect to the name of the company within the introduction*/
.name{
    font-weight: bold;
}
/*Sets the size and position of the image in the 1st coloumn of the carousel. Also curves the image borders*/
#homeleft{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    width: 80%;
    height: 85%;
}
/*Sets the size, style and position of the images within the 2nd coloum of the carousel div*/
.cake{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    border: goldenrod solid 2px;
    width: 80%;
    height: 650px;
}
@media (max-width: 960px) {
    .cake { width: 90%; }
    .cake { height: 60%;}
    .cake { margin-right: 6%;}
}
/*Adjusts the images for mobile's*/

/*Sets the size and position of the text within .tag*/
#tag{
    text-align: center;
    font-size: 30px;
}
/*Sets the size and position of the images in the 3rd coloumn of the carousel. Also curves the image borders*/
#homeright{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    width: 80%;
    height: 85%;
}
/*END OF INDEX PAGE STYLING*/

/*START OF MINI GAME STYLING*/

/*Adds a dotted boarder above the mini game to visualy set it apart from the index page, aligns everything within the game div to centre and sets the text color within the div*/
#game{
    border-top: dotted black;
    text-align: center;
    color: rgb(7, 4, 94)
}
/*Hides the minigame until called by button click*/
#minigame {
    display: none;
}
/*Changes the width og the number input box*/
#guessInput{
    width: 3em;
}
/*END OF MINI GAME STYLING*/

/*START OF FOOTER STYLING*/

/*Adds a dotted boarder to the top of the footer as a visual cue to the user they are at the end of the page*/
.footer{
    border-top: dotted black;
}
/*Sets the style, size and position of the text for .social*/
.social{
    margin-left: 1%;
    color: blue;
    text-decoration: underline;
    font-weight: 800;
}
/*Sets the size and position of the images within the footer*/
.footer img{
    float: left;
    margin-left: 0.5%;
    width: 2%;
    height: 38px;
    box-sizing: border-box; 
}
/*Sets the size and position of the text for .copywrite*/
.copyright{
    margin-right: 175px;
    text-align: center;
    font-size: 16px;
}
/*Adjusts the footer elements for a smaller/mobile screen*/
@media (max-width: 960px) {
    .footer img { width: 6%; }
    .copyright { margin: auto; }
}
/*END OF FOOTER STYLING*/

/*START OF SEASONAL CONTENT STYLING*/

/*Adds a background to the seasonal page, a body-id is used to disguish between the different pages*/
#seasonal {
    /*--Image credit-- <a href="https://unsplash.com/@amyshamblen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Amy Shamblen</a>
    on <a href="https://unsplash.com/photos/green-and-red-baubles-x2lm26Rs2PM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
    background-image: url("../images/backgrounds/Christmas1.jpg");
    background-repeat: no-repeat;
    width: 100%;
}
/*Sets the size and position of the images in the 1st and 3rd coloumn's of the carousel. Also styles the image borders*/
.side{
    border: red solid 2px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    width: 80%;
    height: 85%;
}
/*Sets the size and position of the images in the 2nd coloumn of the carousel. Also styles the image borders*/
.season{
    border: goldenrod solid 2px;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 550px;
}

/*Google font Overpass used*/
/*Sets the style and size of text for the #tis h4*/
#tis{
    text-align: center;
    font-family: 'Overpass', sans-serif;
    color: rgb(194, 18, 18);
    font-size: 36px;
    font-weight: 600;
}
/*Google font Manrope used*/
/*Sets the style and size of text for the #merry <p>*/
#merry{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 26px;
    font-weight: 200;
}
/*END OF SEASONAL STYLING*/

/*START OF COUNTDOWN TIMER STYLING*/

/*Sets the size of the div, position of the div and content position within the div*/
#clock{
    text-align: center;
    width: 50%;
    margin: auto;
}
/*Font size and color for #christmas h4 within the div*/
#christmas{
    font-size: 36px;
    color: rgb(172, 23, 23);
}
/*Hides the countdown timer until called with button click through javascript manipulation. Also sets the size and color of the text*/
#time{
    display: none;
    font-size: 46px;
    color: rgb(172, 23, 23);
}
/*Hides the #timer h4 until called with button click through javascript manipulation. Font size and color for #timer h4 within the div*/
#timer{
    display: none;
    font-size: 36px;
    color: rgb(172, 23, 23);
}
/*Sets the style, size, and position of the #count button*/
#count{
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border-color: goldenrod;
    text-align: center;
    font-weight: 700;
    display: block;
    margin: auto;
}
/*Hides the #hide button until called with button click through javascript manipulation. Sets the style, size, and position of the #hide button*/
#hide{
    display: none;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    border-color: goldenrod;
    text-align: center;
    font-weight: 700;
    margin: auto;
}
/*END OF COUNTDOWN TIMER STYLING*/

/*START OF CAROUSEL TEXT STYLING*/

/*Carousel text set to not display until mouseover (js manipulation),also sets the background style, boarder style and and text area size */
.carousel-caption{
    display: none;
    width: fit-content;
    margin: auto;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 10px;
}
/*Displays the text reserved for mouse over on a mobile device */
@media (max-width: 960px) {
    .carousel-caption { display: block; }
    .carousel-caption { font-size: 12px; }
}
/*END OF CAROUSEL TEXT STYLING*/


/*----------------------End of Donal Dempsey Styling-----------------------------------*/


/*----------------------Flaviu Vanca Student ID:22195092 - Stylying--------------------*/
/* ORDER-FORM STYLING */

/*Form border, border-radius, padding and text alignment */
#div_form {
    display: flex;
    justify-content:center;
}
/*Form border, border-radius, padding and text alignment */
#form {
    border: #000000 solid 1px;
    width: 440px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}
/*h3 title Order-Form */
#contact {
    text-align: center;
    font-family: 'Manrope', 'Fjalla One', sans-serif;
    font-weight:bolder;
}
label {
    width: 150px;
    display: inline-block;
    padding: 2px;
}
#contact_preference_label  {
    display: inline;
    margin-right: 20px;
}
#email_label {
    margin-left: 5px;
    margin-right: -5px;
}
#phone_label {
    display: inline;
}

#email2_label {
    display: inline;
    margin-left: 10px;
}

#quantity_label {
    display: inline;
}
#quantity {
    width: 4em;
    margin-left: 70px;
}
#comments_label {
    display: inline;
    margin-left: 5px;
}
/*Set the width of cake option goup */
#category {
    width: 110px;
}
/*Style the buttons */ 
button {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border-color: goldenrod;
    text-align: center;
    font-weight: 700;
    display: block;
    margin: 0 auto;/*Position the button in the middle of the form */
}
/*Set the margin to 0 for terms and newsletter paragraph*/
.terms_newsletter  {
    margin: 0px;
}
/*Srrange the phrase to be on the same line wiht the above phrase (Terms and Conditions)*/
#newletter_b {
    margin-left: 5px;
}
/*Style terms and conditions link */
#terms_and_conditions_link {
    text-decoration: none;
    color: #000000;
  
}
#terms_and_conditions_link:hover {
    color:goldenrod;
}
/* END OF ORDER-FORM STYLING */

/*Modal styling Terms ans Conditions */
.modal-content {
    background-color: #f5f5f5;
}
.modal-header {
    background-color: #5bc0de; /*Customize the header background color */
    color: #000000; /* Customize the header text color */
    border-bottom: 2px solid #dddddd; 
}
.modal-body {
    padding: 20px;  
}

/* STYLE THE CAROUSEL AND IMAGES */
.carousel-item {
    position:relative;
    text-align: center;
}

/*Set the images to a hight of 550px */
.imgs {    
    border: goldenrod solid 2px;
    border-radius: 20px;
    width: fit-content;
    height: 500px;   
}

/*Style the h3 class from the pages with the carousel */
.subtitle{
    text-align: center;
}
/*Style the paragraphs from the pages with the carousel */
.paragraphs{
    text-align: center;
}
/*Style the subtitles from the slides*/
.subtitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: center;
}
/*Style the paragraphs from the slides*/
.paragraphs {
    text-align: center;
    font-family: 'Dancing Script','Fjalla One','Manrope',  sans-serif;
    font-weight: normal;
    font-size:x-large;
}
/* END OF STYLE THE CAROUSEL AND IMAGES */


