
.title{
    text-align: center;
    margin-right: 1%;
}

/*set the logo */
.row img {
    display: inline-flex;
    float: left;
    width: 70px;
    margin-top: 1%;
    margin-left: 1%;
}

/*Sets the style, height, margin, padding and colour of the nav bar*/
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*remove the bullets from ul*/
.bar {
    list-style-type: none;
    width: 100%;
    background-color: rgb(44, 41, 41)
}

/* Google font Fjalla One with a size of 20px applied to navbar page, links floats the links to the left of the page */
.links{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    float: left;
}

/*Sets the style and colour of the links within the nav bar*/
.links a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

/*Causes the text within the navbar to change to gold when moused over and the background of the link to change to black*/
.links :hover{
    color: gold;
    background-color: black;
}

/*Whichever page the user is on will be highlighted in green as a visual cue*/
.current{
    background-color: rgb(29, 158, 29);
}

/*Google font Fjalla One with a size of 20px applied to navbar contact link and Floats the contact link within the navbar to the right*/
.infolink {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    float: right;
}

/*Sets the style and colour of the nav bar contact link*/
.infolink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Causes the text of the contact link within the navbar to change to gold and the background to change to black on mouse over*/
.infolink :hover{
    color: gold;
    background-color: #111;
}

.footer img{
    float: left;
    width: 2%;
    height: 38px;
    box-sizing: border-box;
    padding: 2px;
}

.social{
    text-decoration: underline;
}

#copyright{
    margin-right: 150px;
    text-align: center;
}
